.flow {
  background-color: rgba(104, 101, 101, 0.356);
}

.left-section-line {
  opacity: 0.7;
  background-color: #000;
}

.friend-list-circle {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #4946d1;
}

.circle-chat {
  border: 3px solid;
  user-select: none;
  cursor: pointer;
}

.home-left-section {
  width: 100%;
  height: 88vh;
}

.home-right-section {
  width: 100%;
  height: 88vh;
  position: relative;
  background: rgb(73, 70, 209);
  background: linear-gradient(
    0deg,
    rgba(73, 70, 209, 1) 0%,
    rgba(100, 199, 255, 1) 100%
  );

  .home-right-section-descp {
    color: $white;
    font-size: 1.6rem;
    font-family: $Inter;
    font-weight: 300;
  }

  .home-right-section-input {
    background-color: #d9d9d9a6;
    border-radius: 20px;
    border: 0;
    text-indent: 45px;
  }
  .home-right-section-input:focus {
    outline: none;
  }

  .home-right-section-input::placeholder {
    left: 10px;
  }
}
.home-right-section-search-result {
  top: 15.5vh;
  height: 72.5vh;
  z-index: 3;
  
  width: 100%;

}

@keyframes hrssr{
  0%{

  }
  100%{
    backdrop-filter: blur(10px);
    opacity: 1;
  }
}

.focusCloseAnim{
  animation-name: hrssrClose;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

@keyframes hrssrClose{
  0%{
    
    backdrop-filter: blur(10px);
    opacity: 1;
  }
  100%{
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.focusOpenAnim{
  opacity: 0;
  animation-name: hrssrOpen;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

@keyframes hrssrOpen{
  0%{
    
    backdrop-filter: blur(0px);
    opacity: 0;
  }
  100%{
    
    opacity: 1;
    backdrop-filter: blur(10px);
  }
}

.home-right-section-search-result-cart{
  box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
  border-radius: 0px 0px 10px 10px;
  height:50vh;
  overflow-x:hidden;
  overflow-y:auto;
}

.square {
  width: 100%;
  height: 100px;
  background-color: #4946d1;
}

.quarter-circle-bottom-right {
  width: 100%;
  height: 88vh;
  background: rgb(73, 70, 209);
  background: linear-gradient(
    0deg,
    rgba(73, 70, 209, 1) 0%,
    rgba(100, 199, 255, 1) 100%
  );
  border-radius: 100px 0 0 0;
  -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0;
}

.home-section-wrapper {
  width: 100%;
  height: 88vh;
}

.friends-logo {
  width: 25px;
  cursor: pointer;
}

.friend-list-wrapper {
  border-radius: 0%;
}

.fl {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fl:hover {
  background-color: #4846d12f;
}

/*.threeP-wrapper{
position: absolute;
width: 100%;
overflow-x: visible;
}

.fl:hover > .threeP-wrapper{
  display: block;
}*/

.three-points-wrapper {
  right: 0;
}
.points-wrapper {
  border-radius: 7px;
}

.points-wrapper:hover {
  cursor: pointer;
  background-color: #7574ca84;
}

.fl:hover > .three-points-wrapper > .three-points {
  display: flex;
}

.friendlistAnim {
  animation-name: fAnim;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  margin-left: -100px;
  margin-top: 50px;
  opacity: 0;
}

@keyframes fAnim {
  0% {
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
    opacity: 1;
  }
}

.ls-wrapper {
  overflow-y: auto;
  width: 100%;
  height: 88vh;
}
