.admin-response-overlay {
  background: rgba(49, 49, 49, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.admin-response-overlay .response-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: white;
  width: 700px;
  height: 500px;
  border-radius: 5px;
  padding: 30px;
}

.admin-response-overlay .response-overlay-content .response-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.admin-response-overlay .response-overlay-content .response-buttons button {
  width: 48%;
}

.admin-response-overlay .response-overlay-content .response-buttons .save-button {
  text-decoration: none;
  background-color: #0052cc;
  color: white;
  border: none;
  outline: none;
  padding: 12px 15px;
  height: 44px;
  line-height: 22px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: transform 0.4s ease-in;
}

.admin-response-overlay .response-overlay-content .response-buttons .return-button {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: black;
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.admin-response-overlay .response-overlay-content .response-buttons .return-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.admin-response-overlay .response-overlay-content .response-buttons .return-button:active {
  transform: scale(0.96);
}
