.applications-main {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.applications-banner {
  width: 820px;
  height: 280px;
  border-radius: 24px;
  background-color: #0052cc;
  margin: 70px;
}

.applications-banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 55px;
  gap: 160px;
}

.applications-banner__content .left {
  display: flex;
  flex-direction: column;
}

.applications-banner__content .left h2 {
  color: white;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 24px;
}

.applications-banner__content .left p {
  color: #dce0e5;
  font-size: 16px;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 40px;
}

.applications-banner__content .left a.button {
  display: block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  background: #fff;
  width: 134px;
  height: 40px;
  font-weight: bold;
  font-size: 12px;
  color: black;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
