.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.header h1 {
  margin-left: 20px;
  white-space: nowrap;
}

.header .right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
  height: 100%;
}

.header .right-menu .account .filter-blue {
  filter: invert(17%) sepia(53%) saturate(7341%) hue-rotate(210deg) brightness(89%) contrast(102%);
}

.header .right-menu .files .filter-blue {
  filter: invert(17%) sepia(53%) saturate(7341%) hue-rotate(210deg) brightness(89%) contrast(102%);
}

.header .right-menu a {
  padding: 0 10px;
  transition: 0.3s;
  margin-left: 10px;
}

.header .right-menu a img:hover {
  transform: scale(1.08);
}

.upgrade-plan-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 188px;
  height: 42px;
  padding: 14px;
  border-radius: 7px;
  background: rgba(0, 82, 204, 0.05);
  color: #0052cc;
  font-size: 12px;
  font-weight: medium;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  transition: all 0.2s;
}

.upgrade-plan-button:hover {
  background: rgba(0, 82, 204, 0.1);
}
