body {
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: rgba(189, 189, 189, 0.723);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-wrapper {
  width: 100%;
  height: 88vh;
  background: #4946d1;
  background: linear-gradient(0deg, #4946d1 0%, #64c7ff 100%);
}

.chat-left-section {
  width: 100%;
  height: 88vh;
  overflow-y: auto;
  background-color: #fff;
}

.chat-list-circle {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #4946d1;
}

.chat-list-wrapper {
  cursor: pointer;
  background-color: #fff;
  font-size: 0.8rem;
}

.chat-list-wrapper-anim {
  animation-name: ctList;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  margin-top: 35px;
}

.chatlist-bg {
  background: #64c7ff;
  background: linear-gradient(120deg, #64c7ff 0%, #4946d1 100%);
  cursor: pointer;
}

.hver:hover {
  background-color: #D9D9D9;
}

@keyframes ctList {
  0% {
    background-color: #D9D9D9;
  }
  100% {
    background-color: #fff;
    margin-top: 0px;
  }
}

.chat-list-line {
  width: 100%;
  background-color: black;
  height: 1px;
}

.chat-right-section {
  width: 100%;
  height: 88vh;
  position: relative;
  background: #4946d1;
  background: linear-gradient(0deg, #4946d1 0%, #64c7ff 100%);
}

.chat-right-top-section {
  height: 76vh;
  overflow-y: auto;
}

.chatpage-img-wrapper {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.183);
  backdrop-filter: blur(8x);
}

.chatpage-img {
  width: 35vw;
  filter: drop-shadow(5px 5px 5px #222);
  animation-name: ctimg;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  margin-top: -35px;
  opacity: 0;
}

@keyframes ctimg {
  0% {
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

.flow {
  background-color: rgba(104, 101, 101, 0.356);
}

.left-section-line {
  opacity: 0.7;
  background-color: #000;
}

.friend-list-circle {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #4946d1;
}

.circle-chat {
  border: 3px solid;
  user-select: none;
  cursor: pointer;
}

.home-left-section {
  width: 100%;
  height: 88vh;
}

.home-right-section {
  width: 100%;
  height: 88vh;
  position: relative;
  background: #4946d1;
  background: linear-gradient(0deg, #4946d1 0%, #64c7ff 100%);
}

.home-right-section .home-right-section-descp {
  color: #fff;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.home-right-section .home-right-section-input {
  background-color: #d9d9d9a6;
  border-radius: 20px;
  border: 0;
  text-indent: 45px;
}

.home-right-section .home-right-section-input:focus {
  outline: none;
}

.home-right-section .home-right-section-input::placeholder {
  left: 10px;
}

.home-right-section-search-result {
  top: 15.5vh;
  height: 72.5vh;
  z-index: 3;
  width: 100%;
}

@keyframes hrssr {
  0% {
  }
  100% {
    backdrop-filter: blur(10px);
    opacity: 1;
  }
}

.focusCloseAnim {
  animation-name: hrssrClose;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

@keyframes hrssrClose {
  0% {
    backdrop-filter: blur(10px);
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

.focusOpenAnim {
  opacity: 0;
  animation-name: hrssrOpen;
  animation-fill-mode: forwards;
  animation-duration: .5s;
}

@keyframes hrssrOpen {
  0% {
    backdrop-filter: blur(0px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    backdrop-filter: blur(10px);
  }
}

.home-right-section-search-result-cart {
  box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
  border-radius: 0px 0px 10px 10px;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.square {
  width: 100%;
  height: 100px;
  background-color: #4946d1;
}

.quarter-circle-bottom-right {
  width: 100%;
  height: 88vh;
  background: #4946d1;
  background: linear-gradient(0deg, #4946d1 0%, #64c7ff 100%);
  border-radius: 100px 0 0 0;
  -moz-border-radius: 100px 0 0 0;
  -webkit-border-radius: 100px 0 0 0;
}

.home-section-wrapper {
  width: 100%;
  height: 88vh;
}

.friends-logo {
  width: 25px;
  cursor: pointer;
}

.friend-list-wrapper {
  border-radius: 0%;
}

.fl {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fl:hover {
  background-color: #4846d12f;
}

/*.threeP-wrapper{
position: absolute;
width: 100%;
overflow-x: visible;
}

.fl:hover > .threeP-wrapper{
  display: block;
}*/
.three-points-wrapper {
  right: 0;
}

.points-wrapper {
  border-radius: 7px;
}

.points-wrapper:hover {
  cursor: pointer;
  background-color: #7574ca84;
}

.fl:hover > .three-points-wrapper > .three-points {
  display: flex;
}

.friendlistAnim {
  animation-name: fAnim;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  margin-left: -100px;
  margin-top: 50px;
  opacity: 0;
}

@keyframes fAnim {
  0% {
  }
  100% {
    margin-left: 0px;
    margin-top: 0px;
    opacity: 1;
  }
}

.ls-wrapper {
  overflow-y: auto;
  width: 100%;
  height: 88vh;
}

.logo-wrapper {
  margin-bottom: 4%;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #fff;
}

.input {
  border-radius: 45px;
  border: 0;
  width: 100%;
  background-color: #D9D9D9;
  text-indent: 10px;
}

.input::placeholder {
  text-align: center;
  padding: 65px;
  color: #A1A1A1;
}

.log-reg-button {
  border: 0;
  background-color: #4946d1;
  color: #fff;
  border-radius: 45px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.log-register-link {
  color: #4946d1;
}

.log-register-link:hover {
  cursor: pointer;
  color: blue;
}

.forgotPassword-input {
  border-radius: 45px;
  border-style: solid;
  border-width: 2px;
  border-color: #4946d1;
  width: 100%;
  background-color: #d9d9d962;
  text-indent: 10px;
}

textarea:focus, .forgotPassword-input:focus {
  outline: none;
}

.logo-name {
  font-family: "Pacifico", cursive;
  font-size: 1.7rem;
}

.navbar-wrapper {
  background-color: #fff;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-image {
  width: 45px;
  padding: 10px;
}

.notification-logo {
  width: 45px;
  padding: 10px;
}

.navbar-image:hover {
  border-radius: 100%;
  background-color: #4846d19e;
  transition: all .6s;
  cursor: pointer;
}

.notification-logo:hover {
  border-radius: 100%;
}

.nav-link-active {
  border-radius: 100%;
  background-color: #4846d19e;
}

.logo {
  cursor: pointer;
}

.dropdown-menuu {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 30px;
  animation-name: dropD;
  animation-duration: 0.6s;
  opacity: 0;
  animation-fill-mode: forwards;
  z-index: 5;
}

@keyframes dropD {
  0% {
  }
  100% {
    opacity: 1;
    margin-top: 50px;
  }
}

.dropdown-link {
  padding: 5px;
  border-radius: 10px;
}

.ntf {
  width: 250%;
  height: 45vh;
  overflow-y: auto;
}

.notify-wrapper {
  cursor: pointer;
  border-radius: 100%;
}

.notify-wrapper:hover {
  cursor: pointer;
  border-radius: 100%;
}

.notification-circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  right: 7px;
  top: 10px;
  background-color: red;
  color: #fff;
  font-size: 0.7rem;
  font-weight: normal;
}

.notification-logo-wrapper {
  border-radius: 100%;
}

.notification-logo-wrapper:hover {
  background-color: #4846d19e;
  transition: all .6s;
}

.Acceptedresponse-img {
  width: 18px;
}

.Ignoredresponse-img {
  width: 14px;
}

.accept-ignore-button {
  border: 0;
  color: #fff;
  border-radius: 12px;
  font-size: .8rem;
}

.accept-button-special {
  background-color: #4946d1;
}

.ignore-button-special {
  background-color: #fff;
  color: #4946d1;
  border: solid 1px;
}

.accept-ignore-text {
  font-size: .8rem;
}

.notification-line {
  width: 100%;
  height: 1px;
  background-color: #000;
}

.date-style {
  font-size: .8rem;
  font-weight: 600;
}

.dropdown-link-profile:hover {
  cursor: pointer;
  background-color: rgba(124, 120, 120, 0.463);
}

@keyframes pp-bg {
  0% {
  }
  100% {
    backdrop-filter: blur(10px);
  }
}

.popup-cross-img {
  width: 25px;
  cursor: pointer;
  z-index: 4;
}

.top-content {
  width: 100%;
  background: #64c7ff;
  background: linear-gradient(0deg, #64c7ff 0%, #4946d1 100%);
  position: absolute;
  top: 0;
  height: 20vh;
  border-radius: 25px 25px 0px 0px;
  z-index: 1;
}

.top-content-line {
  width: 100%;
  height: 8px;
  background-color: #4946d1;
}

.top-content-circle {
  height: 75px;
  width: 150px;
  border-radius: 150px 150px 0 0;
  background-color: #4946d1;
  font-size: 4rem;
  font-weight: bolder;
}

.popup-wrapper2 {
  animation-name: pp-bg;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  z-index: 5;
}

.popup2-content {
  height: 75vh;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
  background-color: #fff;
  animation-name: popup;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  opacity: 0;
  margin-top: 120px;
}

@keyframes popup {
  0% {
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.flow-button-circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  color: #d9d9d9;
  background-color: #4946d1;
}

.flowButton-wrapper {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background-color: #d9d9d9;
  animation-name: btn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  margin-top: 100px;
}

@keyframes btn {
  0% {
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.flowbutton-list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 15px 50px 50px 50px;
  width: 100%;
  align-items: center;
  justify-items: center;
  overflow-y: auto;
}

.flowButton {
  width: 100%;
  border: 0;
  border-radius: 20px;
  color: #D9D9D9;
  font-weight: normal;
  font-size: 1rem;
  padding: 4px 24px 4px 24px;
  background-color: #4946d1;
}

@media only screen and (max-width: 694px) {
  .flowButton-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #D9D9D9;
    animation-name: btn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    margin-top: 100px;
  }
  .flow-button-circle {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    color: #D9D9D9;
    background-color: #4946d1;
  }
  .flowbutton-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100%;
    align-items: center;
    justify-items: center;
    overflow-y: auto;
  }
  .flowButton {
    width: 70px;
    border: 0;
    border-radius: 20px;
    color: #D9D9D9;
    font-weight: normal;
    font-size: .8rem;
    background-color: #4946d1;
  }
}

.accept-request-btn {
  background-color: #fff;
  color: #4946d1;
  border: 1px solid #4946d1;
}

.input-send-message {
  width: 100%;
  background-color: #4846d155;
  border: 0;
  border-radius: 30px;
  opacity: 0.7;
  padding: 12px;
  text-indent: 10px;
}

.input-send-message::placeholder {
  color: #000;
}

.right-sending-message-section {
  height: 10vh;
  background-color: #fff;
  border-radius: 30px;
}

.emoji-img {
  width: 45px;
  cursor: pointer;
}

.sending-message-button {
  border: 0;
  width: 40%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1.5rem;
  font-weight: light;
  border-radius: 25px;
  background-color: #4946d1;
}

.sending-message-button-img {
  width: 35px;
}

.message-content-wrapper {
  width: 25%;
  background-color: #d9d9d9;
  color: #6b6b6b;
  border-radius: 0px 24px 24px 24px;
  font-size: .8rem;
  font-weight: 400;
}

.message-content-wrapper-right {
  width: 25%;
  background-color: #4946d1;
  color: #fff;
  border-radius: 24px 0px 24px 24px;
  font-size: 0.8rem;
  font-weight: 400;
}

.three-points-wrapper {
  border-radius: 30px;
}

.three-points-wrapper:hover {
  cursor: pointer;
  background-color: rgba(91, 89, 219, 0.5);
}

.dd-bg {
  background-color: rgba(91, 89, 219, 0.5);
}

.three-points-content-wrapper {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 10px;
  animation-name: threePointsDrop;
  animation-duration: 0.4s;
  margin-top: -10px;
  margin-left: -10px;
  animation-fill-mode: forwards;
}

@keyframes threePointsDrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
    margin-left: 00px;
  }
}

.three-points-content-link {
  padding: 5px;
  white-space: nowrap;
  border-radius: 10px;
}

.three-points-content-link:hover {
  cursor: pointer;
  background-color: rgba(124, 120, 120, 0.463);
}

.points {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.776);
  border-radius: 100%;
}

.infoo {
  overflow-x: hidden;
  overflow-y: auto;
}

.ssssss {
  animation-name: abc;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  top: 400px;
}

@keyframes abc {
  0% {
    top: 400px;
  }
  100% {
    top: 0px;
  }
}

.bg-wrapper {
  background: #4946d1;
  background: linear-gradient(0deg, #4946d1 0%, #64c7ff 100%);
  width: 100%;
  height: 100vh;
}

.login-register-card {
  background-color: #fff;
  border-radius: 25px;
  padding: 45px;
  margin-bottom: 155px;
}

.forgotPassword-card {
  background-color: #fff;
  border-radius: 25px;
  padding: 45px;
  margin-bottom: 155px;
}
