.login-register-card{
    background-color: $white;
    border-radius: 25px;
    padding: 45px;
    margin-bottom: 155px;
}

.forgotPassword-card{
    background-color: $white;
    border-radius: 25px;
    padding: 45px;
    margin-bottom: 155px;
}